Periodo 2/LP2/Cliente_Banco/App_WebReferences/BancoWeb/BancoWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Registrarse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numero_cuenta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="propietario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pin" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegistrarseResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCuenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numero_cuenta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCuentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerCuentaResult" type="tns:cuenta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="cuenta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="numero_cuenta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre_propietario" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="saldo" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="pin" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObtenerCuentaJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numero_cuenta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCuentaJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerCuentaJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Depositar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numero_cuenta" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DepositarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DepositarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerSaldo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numero_cuenta" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerSaldoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ObtenerSaldoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegistrarseSoapIn">
    <wsdl:part name="parameters" element="tns:Registrarse" />
  </wsdl:message>
  <wsdl:message name="RegistrarseSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarseResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerCuentaSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerCuenta" />
  </wsdl:message>
  <wsdl:message name="ObtenerCuentaSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerCuentaJSONSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerCuentaJSON" />
  </wsdl:message>
  <wsdl:message name="ObtenerCuentaJSONSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerCuentaJSONResponse" />
  </wsdl:message>
  <wsdl:message name="DepositarSoapIn">
    <wsdl:part name="parameters" element="tns:Depositar" />
  </wsdl:message>
  <wsdl:message name="DepositarSoapOut">
    <wsdl:part name="parameters" element="tns:DepositarResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerSaldoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerSaldo" />
  </wsdl:message>
  <wsdl:message name="ObtenerSaldoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerSaldoResponse" />
  </wsdl:message>
  <wsdl:portType name="BancoWebServiceSoap">
    <wsdl:operation name="Registrarse">
      <wsdl:input message="tns:RegistrarseSoapIn" />
      <wsdl:output message="tns:RegistrarseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCuenta">
      <wsdl:input message="tns:ObtenerCuentaSoapIn" />
      <wsdl:output message="tns:ObtenerCuentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCuentaJSON">
      <wsdl:input message="tns:ObtenerCuentaJSONSoapIn" />
      <wsdl:output message="tns:ObtenerCuentaJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Depositar">
      <wsdl:input message="tns:DepositarSoapIn" />
      <wsdl:output message="tns:DepositarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSaldo">
      <wsdl:input message="tns:ObtenerSaldoSoapIn" />
      <wsdl:output message="tns:ObtenerSaldoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BancoWebServiceSoap" type="tns:BancoWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registrarse">
      <soap:operation soapAction="http://tempuri.org/Registrarse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCuenta">
      <soap:operation soapAction="http://tempuri.org/ObtenerCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCuentaJSON">
      <soap:operation soapAction="http://tempuri.org/ObtenerCuentaJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Depositar">
      <soap:operation soapAction="http://tempuri.org/Depositar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSaldo">
      <soap:operation soapAction="http://tempuri.org/ObtenerSaldo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BancoWebServiceSoap12" type="tns:BancoWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registrarse">
      <soap12:operation soapAction="http://tempuri.org/Registrarse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCuenta">
      <soap12:operation soapAction="http://tempuri.org/ObtenerCuenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCuentaJSON">
      <soap12:operation soapAction="http://tempuri.org/ObtenerCuentaJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Depositar">
      <soap12:operation soapAction="http://tempuri.org/Depositar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSaldo">
      <soap12:operation soapAction="http://tempuri.org/ObtenerSaldo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BancoWebService">
    <wsdl:port name="BancoWebServiceSoap" binding="tns:BancoWebServiceSoap">
      <soap:address location="http://localhost:51017/BancoWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="BancoWebServiceSoap12" binding="tns:BancoWebServiceSoap12">
      <soap12:address location="http://localhost:51017/BancoWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>